<!-- Projects page -->                                       

<% if (currentPage === 'projects') { %> <!-- Server-side scripting condition to check if the current page is the 'projects' page -->

<main id="projects-content"> <!-- Main content area for the projects page, identified by 'projects-content' ID -->

    <section class="project-section"> <!-- A section dedicated to the first project, using 'project-section' class -->
        <h3><%= headingProject1 %></h3> <!-- Heading for the first project, dynamically loaded from a variable -->
        <p class="project-description"> <!-- Paragraph element for the project description, using 'project-description' class -->
            <%= descriptionProject1%> <!-- Project description, dynamically loaded from a variable -->
        </p>
        <!-- Link to view the project code on GitHub -->
        <a href="https://github.com/omiedmuhebi/Encryption-Project.git" target="_blank" class="github-link">
            View code on GitHub <i class="fa-brands fa-github fa-lg"></i> <!-- Text and GitHub icon for the link -->
        </a>
    </section>

    <section class="project-section"> <!-- A section dedicated to the second project, using 'project-section' class -->
        <h3><%= headingProject2 %></h3> <!-- Heading for the second project, dynamically loaded from a variable -->
        <p class="project-description"> <!-- Paragraph element for the project description, using 'project-description' class -->
            <%= descriptionProject2%> <!-- Project description, dynamically loaded from a variable -->
        </p>
        <!-- Link to view the project code on GitHub -->
        <a href="https://github.com/omiedmuhebi/Hangman.git" target="_blank" class="github-link">
            View code on GitHub <i class="fa-brands fa-github fa-lg"></i> <!-- Text and GitHub icon for the link -->
        </a>
    </section>

    <section class="project-section"> <!-- A section dedicated to the third project, using 'project-section' class -->
        <h3><%= headingProject3 %></h3> <!-- Heading for the third project, dynamically loaded from a variable -->
        <p class="project-description"> <!-- Paragraph element for the project description, using 'project-description' class -->
            <%= descriptionProject3%> <!-- Project description, dynamically loaded from a variable -->
        </p>
        <!-- Link to view the project's website -->
        <a href="https://omiedmuhebi.github.io/Assignment1/" target="_blank" class="github-link">
            View website <i class="fa-solid fa-globe fa-flip-horizontal"></i> <!-- Text and globe icon for the link -->
        </a> 
    </section>

</main>

<% } %> <!-- End of the server-side scripting condition -->
