<html>
  <body>
    <%- include partials/header%> <!-- Include the header partial (EJS template) into the current page -->

    <%- include partials/navbar%> <!-- Include the navigation bar partial (EJS template) into the current page -->

    <%- include partials/homePage.ejs%> <!-- Include the home page content partial (EJS template) into the current page -->

    <%- include partials/aboutPage.ejs%> <!-- Include the about page content partial (EJS template) into the current page -->

    <%- include partials/projectPage.ejs%> <!-- Include the project page content partial (EJS template) into the current page -->

    <%- include partials/contactPage.ejs%> <!-- Include the contact page content partial (EJS template) into the current page -->

    <%- include partials/footer.ejs%> <!-- Include the footer partial (EJS template) into the current page -->

    <!-- Scripts files-->
    <script src="/Scripts/app.js"></script> <!-- Link to the custom JavaScript file 'app.js' -->

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script> <!-- Link to the Bootstrap JavaScript file -->

    <script src="/jquery/dist/jquery.min.js"></script> <!-- Link to the jQuery JavaScript file -->
  </body>
</html>                                       
